<div>
  <h1 class="heading header-font">Boligforeninger</h1>
  <hr />
</div>
<div class="info-home">
  <div class="home-rows home-container">
    <div class="welcome-box-text flex-text-first-txt">
      <p>
        Byens malermester har stor erfaring med at samarbejde med funktionærer
        og andre håndværkere tilknyttet til boligselskabets ejendomme. Og sikrer
        derfor altid en hurtig og effektiv behandling af vores kunders opgaver.
        Det medvirker til at vi kan tilbyde konkurrencedygtige priser uden at gå
        på kompromis med kvaliteten. <br /><br />

        Fra til renovering af facader og istandsættelse af gamle vinduer og
        døre, der efter en professionel behandling vil fremstå som nye, men med
        den charme og stil, som kendetegner godt håndværk .
        <br />

        Trænger trappeopgangene, ejendommens vinduer eller facade til en
        renovering, så er vi naturligvis klar med et uforpligtende tilbud på
        jeres projekt.
        <br /><br />
      </p>
    </div>
    <div class="welcome-box-image flex-text-first-img">
      <img
        src="../../../assets/images/boligforeninger/boligforening.PNG"
        alt=""
      />
    </div>
  </div>
</div>
