<div>
  <h1 class="heading header-font">Institutioner &#38; offentlig</h1>
  <hr />
</div>
<div class="info-home">
  <div class="home-rows home-container">
    <div class="welcome-box-image flex-image-first-img">
      <img src="../../../assets/images/offentlig/bygning.png" alt="" />
    </div>
    <div class="welcome-box-text flex-image-first-txt">
      <p>
        Institutionerne rummer mange mennesker, som arbejder der, bor der eller
        har deres daglige gang. På mange institutioner har farverne fået en
        større og større betydning i erkendelse af, at mennesker har behov for
        behagelige og rare fysiske omgivelser. Gode farver er samtidigt også med
        til at markere afdelinger og grupperinger. Vi udføre malerarbejde på
        institutioner uden at forstyrre den daglige drift og er gode til at
        sikre den nødvendige diskretion og tryghed. <br /><br />

        Vi går til opgaven med en erfaring, der sætter os i stand til at vejlede
        og rådgive vores kunder, så de altid får det bedste resultat og en
        gnidningsfri proces. Vi er fleksible og tilpasser os vores arbejdsmiljø,
        således at vi ikke forstyrre og er til mindst mulig gene.<br /><br />

        Vi har altid fokus på kvaliteten i vores arbejde og leverer kun de
        bedste resultater der matcher prisen. Uanset opgavens karakter, sørger
        vi for at præsentere det bedst mulige resultat, til glæde for personale,
        patienter og besøgende. Godt udført malerarbejde holder længere og giver
        større glæde.<br /><br />

        Byens malermester er den professionelle samarbejdspartner, som I kan
        have et langvarigt samarbejde med. Vi ligger vægt på gode tætte
        samarbejdsrelationer til vores kunder, hvilket betyder at vores kunder
        har en troværdig og pålidelig leverandør. Dermed skal vores kunder ikke
        bruge tid på at finde ny maler, der skal sættes ind i stedets
        arbejdsgange og rutiner, hver gang de har en ny maleropgave. Det sparer
        ressourcer både på det praktiske og administrative plan.<br /><br />
      </p>
    </div>
  </div>
  <hr />
</div>
