<div>
  <h1 class="heading header-font">Butik &#38; Kontor</h1>
  <hr />
</div>
<div class="info-home">
  <div class="home-rows home-container">
    <div class="welcome-box-text flex-text-first-txt">
      <p>
        Skal kontoret friskes op, butikslokalet have et nyt udtryk eller skal
        væggene males dekorativt? <br /><br />

        Vi tilbyder professionel rådgivning om farvevalg og er garant for et
        stilsikkert malerarbejde, hvor kvalitet, sans for detaljer og grundighed
        er nøgleord.
        <br />

        Skal malerarbejdet foregå på en arbejdsplads, lægger vi en plan for
        arbejdet, så det ikke griber forstyrrende ind i virksomhedens dagligdag.
        <br /><br />
      </p>
    </div>
    <div class="welcome-box-image flex-text-first-img">
      <img src="../../../assets/images/butik/butik.PNG" alt="" />
    </div>
  </div>
</div>
