<mat-toolbar class="toolbaroverride">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title toolbarFont">Byens Malermester</span>
  <span class="example-spacer"></span>
  <a
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="facebook link"
    href="https://www.facebook.com/byensmalermester.dk"
  >
    <mat-icon>facebook</mat-icon>
  </a>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>email</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
