.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: fixed;
  background-color: transparent;
  z-index: 999;
  color: #ffffff;
}

.toolbarFont {
  font-family: "Amatic SC", cursive;
  font-size: x-large;
  font-weight: bold;
}
