// .info-home {
//   padding: 32px;
//   height: 100%;
//   font-family: "Montserrat", sans-serif;
// }

.header-font {
  font-family: "Amatic SC", cursive;
  font-weight: 600;
  font-size: 50px;
}

.gradiant {
  min-height: 100vh;
}
