<!-- <div class="gradiant"> -->
<div>
  <h1 class="heading header-font">Det private hjem</h1>
  <hr />
</div>
<div class="info-home">
  <div class="home-rows home-container">
    <div class="welcome-box-text flex-text-first-txt">
      <p>
        Byens Malermester står for et elegant og grundigt malerarbejde i private
        hjem. Vi har sans for detaljerne og lægger vægt på et ordentligt arbejde
        fra den første spartling til den afsluttende rengøring. <br /><br />

        Farver og tapeter er med til at skabe den stemning, som du ønsker i dit
        hjem. Benyt dig derfor af vores rådgivning og professionelle faglighed,
        når du skal træffe valg om farver og materialer.
        <br /><br />

        Vi løser alle typer opgaver. Fra istandsættelse af de småsprossede
        kældervinduer til maling af køkkener, dagligstuer, gavle og facader.
        <br /><br />
      </p>
    </div>
    <div class="welcome-box-image flex-text-first-img">
      <img src="../../../assets/images/private/house.png" alt="" />
    </div>
  </div>
</div>
<!-- </div> -->
