.spacer {
  padding-top: 100px;
}

.contact-container {
  padding: 90px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.header-font {
  font-family: "Amatic SC", cursive;
  font-weight: 600;
  font-size: 50px;
}

.white-icon {
  color: white;
}
// .z-placement {
//   z-index: 999;
// }
