<div>
  <h1 class="heading header-font">Kontakt information</h1>
  <hr />
</div>
<div class="contact-container z-placement">
  <mat-grid-list class="" cols="4" rowHeight="50">
    <mat-grid-tile [colspan]="4" [rowspan]="2">
      <mat-icon>phone</mat-icon>
      &nbsp; Telefon: +45 29 36 34 44
    </mat-grid-tile>
    <mat-grid-tile style="text-align: center" [colspan]="4" [rowspan]="2">
      <a
        mat-icon-button
        class="white-icon"
        aria-label="facebook link"
        href="https://www.facebook.com/byensmalermester.dk"
      >
        <mat-icon>facebook</mat-icon>
      </a>
      &nbsp;<a href="https://www.facebook.com/byensmalermester.dk"
        >https://www.facebook.com/byensmalermester.dk</a
      >
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="2">
      <mat-icon>email</mat-icon>
      &nbsp; email: email@byensmalermester.dk
    </mat-grid-tile>
  </mat-grid-list>
</div>
