.masonry-container {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.top-placement {
  padding-top: 100px;
}

.header-font {
  font-family: "Amatic SC", cursive;
  font-weight: 600;
  font-size: 50px;
}

.mat-raised-button {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}
