<div class="parallax">
  <div class="centered-header home-fonts">
    <div class="company-name">byens malermester</div>
    <div class="company-moto">
      &nbsp;&nbsp;&nbsp;&nbsp; -kvalitetshåndværk der betaler sig
    </div>
  </div>
  <div class="centered-contact home-fonts">
    <div class="contact">Telefon: +45 29 36 34 44</div>

    <div class="contact">Email: email@byensmalermester.dk</div>

    <div class="contact"></div>
  </div>
</div>
<div></div>
<div class="gradiant">
  <div class="info-home">
    <div class="home-rows home-container">
      <div class="welcome-box-text flex-text-first-txt">
        <h2>Byens Malermester er:</h2>
        <p>
          Et malerfirma i Silkeborg med mange års erfaring. Vi ser det som vores
          opgave, at levere et fagligt korrekt arbejde som matcher jeres ønsker,
          til rette tid og konkurrencedygtige priser. Vi går meget op i at lytte
          til og vejlede vores kunder før de får et tilbud fra os, således at
          det færdige resultat svare til tilbudet og vores kunders ønsker.
        </p>
      </div>
      <div class="welcome-box-image flex-text-first-img">
        <img src="../../../assets/images/home/Ib.jpg" alt="" />
      </div>
    </div>
    <hr />
  </div>

  <div class="info-home">
    <div class="home-rows home-container">
      <div class="welcome-box-image flex-image-first-img">
        <img src="../../../assets/images/home/charlotte.jpg" alt="" />
      </div>
      <div class="welcome-box-text flex-image-first-txt">
        <h2>Uforpligtende tilbud gives på:</h2>
        <p>
          Maleropgaver inde og ude <br />
          Filt- og vævarbejde <br />
          Spartel- og slibearbejde <br />
          Industribygninger <br />
          Kontor <br />
          Nybyggeri <br />
          Licitationer <br />
          Reparationer <br />
          Forsikringsopgaver <br />
          Specialopgave
        </p>
      </div>
    </div>
  </div>
</div>
