.parallax {
  /* The image used inspired by: https://unsplash.com/photos/qXqXTTfLdEw */
  background-image: url("../../../assets/images/home/darkened_brushes.jpg");
  //   -webkit-filter: blur(1.5px); /* Chrome, Safari, Opera */
  /* Set a specific height */
  min-height: 920px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

.home-fonts {
  font-family: "Amatic SC", cursive;
  color: white;
}

.centered-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  padding-bottom: 100px;
}

.centered-contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.company-name {
  font-size: 100px;
  padding-bottom: 60px;
  font-weight: bold;
}
.company-moto {
  font-size: 40px;
  padding-bottom: 60px;
  font-weight: bold;
}

.contact {
  flex: 1;
  font-size: 35px;
  padding-bottom: 20px;
  font-weight: bold;
}

h2 {
  font-family: "Montserrat", sans-serif;
}
