@import "~@angular/material/theming";

//mixin
@include mat-core();

$theme-primary: mat-palette($mat-blue-grey);
$theme-accent: mat-palette($mat-light-blue, A200, A100, A400);

$painter-theme: mat-light-theme($theme-primary, $theme-accent);

$custom-typography: mat-typography-config(
  $font-family: "Amatic SC, monospace",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
);

@include angular-material-theme($painter-theme);
@include mat-base-typography($custom-typography);
